@import "~/css/modules/colors.css";

.button {
	height: 35px;
	font-size: 0.95rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	background: var(--basic);
	border-radius: 30rem;
	cursor: pointer;
	min-width: 35px;
}

.button:focus {
	outline: none;
}

.button.button--big {
	font-size: 1.3rem;
}

.button.button--round {
	width: 35px;
	height: 35px;
	padding: 0;
}

.button.button--active {
	color: var(--basic);
	background: var(--secondary);
}
