@import "./modules/typography.css";
@import "./modules/colors.css";

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-size: var(--font-size);
	color: var(--basic-opposite);
	margin: 0;
	background: var(--basic);
	font-family: var(--font-family);
	line-height: var(--line-height);
	word-wrap: var(--word-wrap);
}

body::before {
	display: none;
	content: "Mobile";
	visibility: hidden;
}

@media (--mini-tablet) {
	body::before {
		content: "--mini-tablet";
	}
}

@media (--tablet) {
	body::before {
		content: "--tablet";
	}
}

@media (--desktop) {
	body::before {
		content: "--desktop";
	}
}

@media (--large) {
	body::before {
		content: "--large";
	}
}

@-webkit-keyframes autofill {
	to {
		color: inherit;
		background: transparent;
	}
}

input:-webkit-autofill {
	-webkit-animation-fill-mode: both;
	-webkit-animation-name: autofill;
}

ul,
ol {
	margin: 0;
	list-style-type: none;
}
