@import "./modules/typography.css";
@import "./modules/colors.css";

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	margin: 0;

	font-family: var(--font-family);
	line-height: var(--line-height);
	font-size: var(--font-size);
	background: color(var(--yellow) a(5%));
	color: var(--black);
	word-wrap: var(--word-wrap);
}

body:before {
  content: "Mobile";
  display: none;
  visibility: hidden;
}

@media (--mini-tablet) {
  body:before {
    content: "--mini-tablet";
  }
}

@media (--tablet) {
  body:before {
    content: "--tablet";
  }
}

@media (--desktop) {
  body:before {
    content: "--desktop";
  }
}

@media (--large) {
  body:before {
    content: "--large";
  }
}

@-webkit-keyframes autofill {
	to {
		color: inherit;
		background: transparent;
	}
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

ul, ol {
	margin: 0;
	list-style-type: none;
}