@import "./modules/colors.css";

.bigger {
	font-size: 106%;
}

.blindness {
	color: var(--basic-opposite);
	background: var(--basic);
}

.horizontal-menu {
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	margin: 0;
}

.horizontal-menu > * {
	margin-right: 1rem;
}

.horizontal-menu > *:last-child {
	margin-right: 0;
}
