@import "~/css/modules/colors.css";

.link {
	color: var(--primary);
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

.link:hover,
.link:focus {
	text-decoration: underline;
}

body[data-dark="true"] .link {
	color: var(--basic);
}
